# {{PROJECT_NAME}}

> {{DESCRIPTION}}

{{ONE_PARAGRAPH_OVERVIEW}}

## Docs

- [Home]({{SITE_URL}}/): {{HOME_BLURB}}
- [Quick Start]({{SITE_URL}}/quick-start): three-step setup
- [README](https://github.com/{{GITHUB_OWNER}}/{{REPO_NAME}}#readme): source-of-truth overview

## Source

- GitHub: https://github.com/{{GITHUB_OWNER}}/{{REPO_NAME}}
- License: {{LICENSE}}
- llms-full.txt: {{SITE_URL}}/llms-full.txt (full documentation in one file)

## FAQ

### {{FAQ_Q1}}
{{FAQ_A1}}

### {{FAQ_Q2}}
{{FAQ_A2}}

### {{FAQ_Q3}}
{{FAQ_A3}}

### {{FAQ_Q4}}
{{FAQ_A4}}

### {{FAQ_Q5}}
{{FAQ_A5}}
